@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-RegularItalic.otf") format("opentype");
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-BoldItalic.otf") format("opentype");
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-Light.otf") format("opentype");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-LightItalic.otf") format("opentype");
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-Medium.otf") format("opentype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Lemon Milk";
  src: url("../fonts/LEMONMILK-MediumItalic.otf") format("opentype");
  font-weight: 500;
  font-style: italic;
}
